<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree View</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/script.js"></script>
</head>
<body>

<div id="search-registry-container">
    <label for="search-input" >Search Registry:</label>
    <input type="text" id="search-input" oninput="searchRegistry()">
</div>

<div id="tree-container">
    {% macro render_tree(node) %}
        <ul>
            <li data-key-id="{{ node.key_id }}" onclick="toggleNode(event, this)">
                <img src="../../static/images/folder-icon.png" alt="Folder" class="folder-icon">
                {{ node.key_name }}
                <button class="action-button" onclick="createChild(event, {{ node.key_id }})">
                    <img src="../../static/images/create-child-icon.jpg" alt="Create Child">
                </button>
                <button class="action-button" onclick="editNode(event, {{ node.key_id }}, {{ node.parent_key_id }})">
                    <img src="../../static/images/edit-icon.png" alt="Edit">
                </button>
                <button class="action-button" onclick="deleteNode(event, {{ node.key_id }})">
                    <img src="../../static/images/delete-icon.png" alt="Delete">
                </button>
                {% if node.children %}
                    <ul style="display:none;">
                        {% for child in node.children %}
                            {{ render_tree(child) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    {% endmacro %}

    {% for root_key in keys %}
        {{ render_tree(root_key) }}
    {% endfor %}
</div>

<!-- Partea dreaptă: Valorile asociate nodului selectat și formularul pentru crearea și editarea valorilor -->
<div style="float: right; width: 70%;" id="values">
    <div id="search-values-container">
        <label for="search-values-input">Search Values:</label>
        <input type="text" id="search-values-input" oninput="searchValues()">
    </div>
    <div id="values-container">
        <!-- Valorile vor fi afișate aici -->
    </div>
    <div id="create-form">
        Create new value:
        <label for="new-value-name">Name:</label>
        <input type="text" id="new-value-name">

        <label for="new-value-type">Type:</label>
        <select id="new-value-type">
            <!-- Adăugați opțiunile aici, folosind o buclă sau manual -->
            <option value="REG_BINARY">REG_BINARY</option>
            <option value="REG_DWORD">REG_DWORD</option>
            <option value="REG_QWORD">REG_QWORD</option>
            <option value="REG_EXPAND_SZ">REG_EXPAND_SZ</option>
            <option value="REG_MULTI_SZ">REG_MULTI_SZ</option>
            <option value="REG_SZ">REG_SZ</option>
            <!-- Adăugați altele după nevoie -->
        </select>

        <label for="new-value-data">Data:</label>
        <input type="text" id="new-value-data">

        <button onclick="createValue()">Submit</button>
    </div>
    <div id="edit-form">
        <form id="edit-value-form">
            Edit value:
            <input type="hidden" id="edit-value-id">

            <label for="edit-value-name">Name:</label>
            <input type="text" id="edit-value-name">

            <label for="edit-value-type">Type:</label>
            <select id="edit-value-type">
                <!-- Adăugați opțiunile aici, folosind o buclă sau manual -->
                <option value="REG_BINARY">REG_BINARY</option>
                <option value="REG_DWORD">REG_DWORD</option>
                <option value="REG_QWORD">REG_QWORD</option>
                <option value="REG_EXPAND_SZ">REG_EXPAND_SZ</option>
                <option value="REG_MULTI_SZ">REG_MULTI_SZ</option>
                <option value="REG_SZ">REG_SZ</option>
                <!-- Adăugați altele după nevoie -->
            </select>

            <label for="edit-value-data">Data:</label>
            <input type="text" id="edit-value-data">

            <button onclick="">Submit</button>
        </form>
    </div>
</div>

</body>
</html>
